.recipe-divs{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-basis: 50%;

    
  }

  .recipe-divs h1{
    font-size: 1.2em;
    padding: 2px 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(36, 34, 34);
    background-color: rgb(223, 145, 145);
    margin: 8px;

  }

  .image-div{
  
    border: 1px solid black;
    width: fit-content;
    padding: 8px;
    background-color: white;
  }

  .image-div img{   
    padding: 0px;
    margin: 0px;
    max-height: 280px;
    min-height: 150px;
  }

  .header-gallary{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: initial;
  }
  
  .div-image{
    height:300px;
    width: 100%;
    object-fit: cover;
    object-position: center;

  }

  .header{
    display: flex;
    flex-direction: row;
    width:100%;
    flex-grow: initial;
    height: 50px;

  }

  .header-element{
    background-color: cadetblue;
    width: 100%;
    border: 0.1px solid rgb(143, 175, 143);
  }

  .header-element-home{

    background-color: rgb(167, 94, 94);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .logoImage-div img{
    width:100%;
    height:50px;
    display: block;
  }
  .logoImage-div {
    width: fit-content;
    width: 30%;
  }

 